    <header>
    <nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/admin">Shopping Cart</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/admin">Admin Panel</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/products">All Products</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="/admin/createproducts">Create Product</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="/admin/listproducts">List Products</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="/admin/allusers">All Users</a>
        </li>       
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success me-2" type="submit">Search</button>     
        <a class="btn btn-primary me-2"  href="/login"  role="button">Login</a>
        <a class="btn btn-success me-2"  href="/signup"  role="button">Signup</a>  
        <a class="btn btn-danger me-2"  href="/logout"  role="button">Logout</a>  
      </form>
    </div>
  </div>
</nav>
</header>


